*{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    background-color: black;
    line-height: 1.4;
    color: #fff;
}
main {
    margin-bottom: 2rem;
}

header, footer{
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    display: flex;
    padding: 0.5rem 1rem;
    height: 100px;
    align-items: center;
    justify-content: center
}

h1{
    font-weight: 600;
    font-size: 2rem;
    color: #fff;
    text-align: center;
    margin-top: 2rem;
}
h2{
    color: #fff;
    font-style: bold;
    text-align: center;
}
.imagen-inicio{
    display: block;
    width: 100%;
    height: auto;
}
.logo{
    width: 160px;
    height: auto;
    margin-left: 30px;
}
nav {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    position: sticky;
}
nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-right: 30px;
}
nav li {
    margin-left: 1rem;
    margin-bottom: 0;
    width: auto;
}
nav a {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-size: 20px;
    display: block;
    color: black;
    text-decoration: none;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 100%;
}
nav a:hover, nav a:focus{
    background-color: black;
    color: #fff;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
}
.redes img{
    width: 40px;
    margin:  0.5rem;
    object-fit: cover;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    padding: 0.5rem;
}
.gallery img {
    width: 400px;
    cursor: pointer;
    transition: transform 0.3s, opacity 0.3s;
}
.gallery img:hover {
    opacity: 0.75;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;
    flex-direction: column;
}
.overlay img {
    max-width: 90%;
    max-height: 80%;
    box-shadow: 0 0 20px black;
}
#closeBtn {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

.miembros-card, .discos-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1.5rem;
    padding: 2rem;
    justify-content: center;
}
.miembro, .disco{
    width: 100%;
    max-width: 340px;
    padding: 1.5rem;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    transition: all 400ms ease;
    text-align: center;
}
.miembro img, .disco img{
    width: 100%;
    padding: 0;
    margin: 0;
}

.miembro a, .disco a{
    display: inline-block;
    padding: 12px;
    margin: 0rem;
    color: #000;
    border: 1px solid;
    border-radius: 5px;
    transition: all 400ms ease;
    cursor: pointer;
    background-color: #fff;
    text-decoration: none;
}
.miembro a:hover, .disco a:hover{
    background-color: black;
    color: #fff;
}
.disco h2{
    font-size: 20px;
}

article{
    padding: 0rem 2rem;
}
article p{
    text-align: left;
}

.tablegame p{
    color: #000;
}
.juegos, .tablegame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
#pregunta{
    color: #000;
    font-size: 20px;
    margin: 1rem;
}
.tablegame{
    background-color: #fff;
    width: 480px;
    margin: 0 auto;
}
input {
    padding: 10px;
    font-size: 16px;
    margin: 10px 0px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button, .juegos a {
    text-align: center;
    width: 250px;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-color: #ff5ae4;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover{
    background-color: #000;
    color: #ff5ae4;
}
#mensaje, #resultado {
    font-size: 20px;
    color: #000;
    text-align: center;
}

p{
    font-size: 20px;
    color: #fff;
    margin: 1rem;
    text-align: center;
}


.tablegame img {
    max-width: 300px;
    height: auto;
}
.opciones {
    margin-top: 20px;
    text-align: center;
}
.opciones button {
    padding: 10px 20px;
    margin: 5px;
    font-size: 16px;
}
.btn-menu{
    text-align: center;
}
.btn-menu a, .btn a{
    display: inline-block;
    padding: 12px;
    margin-top: 2rem;
    color: #fff;
    border: 1px solid;
    border-radius: 5px;
    transition: all 400ms ease;
    background-color: #ffffff93;
    text-decoration: none;
}
.btn-menu a:hover{
    background-color: #000;
}
.btn{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.btn a{
    display: inline-block;
    padding: 12px;
    margin-top: 2rem;
    color: #000000;
    border: 1px solid;
    border-radius: 5px;
    transition: all 400ms ease;
    background-color: #ffffff;
    text-decoration: none;
}
.btn a:hover{
    background-color: #000;
    color: #fff;
}

.contenedor {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
    align-items: start;
}
.foto {
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.foto img {
    margin: 2rem;
    max-width: 80%;
    height: auto;
    display: block;
}
.info {
    grid-column: 2;
}
.info h2{
    text-align: left;
}
.info p{
    margin: 1rem 1rem 1rem 0;
    text-align: left;
}
.negrita{
    font-weight: bold;
}

.barra {
    margin: 2rem 0;
    width: 100%;
    overflow: hidden;
    background-color: #c2c0c0;
    padding: 10px 0;
}
.palabra {
    display: inline-block;
    white-space: nowrap;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    animation: mover 12s linear infinite;
}

@keyframes mover {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}